version: '3' # specify docker-compose version

# Define the services/containers to be run
services:
  angular: # name of the frontend service
    build: crud-angular # specify the directory of the Dockerfile
    container_name: bmg_frontend
    ports:
      - "4200:4200" # specify port forewarding
    volumes:
      - ./crud-angular:/app # this will enable changes made to the angular app reflect in the container

  express: #name of the backend service
    build: crud-backend # specify the directory of the Dockerfile
    container_name: bmg_backend
    ports:
      - "3000:3000" #specify ports forewarding
    links:
      - database
    depends_on:
      - database
    environment:
      - MONGO_URL=mongodb://database/userslist
    restart: on-failure

  database: # name of the database service
    image: mongo # specify image to build container from
    container_name: bmg_db
    volumes:
      - "./db_backup:/data/db"
    ports:
      - "27017:27017" # specify port forewarding
